.daybox {
  display: inline-block;
}

.dayboxwrapper {
  width: 110px;
  cursor: pointer;
  position: relative;
}

.row {
  margin: 0 auto;
}

.noday,
.hidden {
  visibility: hidden;
}

.logoutbtn {
  font-size: 1rem;
}

textarea {
  resize: none;
}

.text-middle {
  line-height: 80px;
}
/* Ribbon */
.ribbon {
  position: absolute;
  right: 5px;
  top: -5px;
}

.dayboxwrapper.bg-danger,
.dayboxwrapper.bg-primary,
.dayboxwrapper.bg-success,
.dayboxwrapper.bg-warning {
  color: #ffffff !important;
}

.dayboxwrapper.bg-danger span,
.dayboxwrapper.bg-primary span,
.dayboxwrapper.bg-success span,
.dayboxwrapper.bg-warning span {
  color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
